<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!--  
    <bean id="casesJbpmUtil" class="is.idega.idegaweb.egov.bpm.cases.CasesJbpmUtil" scope="singleton" />
-->
    
    <bean id="casesBPMManagersCreator" class="is.idega.idegaweb.egov.bpm.cases.exe.CasesBPMManagersCreator" scope="singleton">
        <property name="processManager" ref="casesBpmProcessManager" />
    </bean>
    
    <bean id="appTypeBPM" class="is.idega.idegaweb.egov.bpm.application.ApplicationTypeBPM" scope="singleton" />
    
    <bean id="casesBPMResources" class="is.idega.idegaweb.egov.bpm.cases.exe.CasesBPMResources" scope="singleton">
        <lookup-method name="createPDW" bean="casesPDW" />
        <lookup-method name="createPIW" bean="casesPIW" />
        <lookup-method name="createTIW" bean="casesTIW" />
    </bean>
</beans>