.casesBPMAssets .assetView {
	
	border: 1px solid green;
	float: left;
	width: 100%;
}

.casesBPMAssets .title {
	border: 1px solid #0db143;
	border-width: 1px 0 1px 0;
	margin: 5px;
	padding-left: 20px;
}

.casesBPMAssets .actions  {
	background: #efefef;
	border-top: 1px solid #042025;
	padding: 5px;
	float: left;
	width: 100%;
}

.casesBPMAssets .messages {
	float: left;
	width: 100%;
}

.casesBPMAssets .messages .infoMessage {
	background-color: #f3ef83;
	margin: 5px;
}

.casesBPMAssets .messages .errorMessage {
	background-color: #f95353;
	margin: 5px;
}

.casesBPMAssets .actions a {
	color: #042025;
	text-decoration: none;
	margin: 3px;
}

.casesBPMAssets .actions div {
	
	
	display: inline;
	border-right: 1px solid black;
}

.casesBPMAssets .assetView .left {

	border: 1px #042025 solid;
	border-width: 0 1px 0 0;
	width: 250px;
	float: left;
	margin: 5px;
}

.casesBPMAssets .assetView .assetSection .assetHeader {

	background-color: #0db143;
	border: 1px #042025 solid;
	color: #ddeff8;
	text-align: center;
	float: left;
	width: 100%;
}

.casesBPMAssets .assetView .right {
	margin: 5px;
	margin-left: 10px;
}

.casesBPMAssets .assetView .assetContent {

	margin: 2px;
}

.casesBPMAssets .assetView .assetSection {
	margin-right: 3px;
}

.casesBPMAssets .assetView .assetSection .assetEntry, .casesBPMAssets .caseInfo .caseInfoEntry {
	float: left;
	width: 100%;
}

.casesBPMAssets .assetView .assetSection .assetEntryLeft, .casesBPMAssets .caseInfo .caseInfoEntryLeft {
	background-color: #ddeff8;
	float: left;
	width: 90px;
}

.casesBPMAssets .assetView .assetSection .assetEntryRight, .casesBPMAssets .caseInfo .caseInfoEntryRight {
	float: left;
	margin-left: 2px;
}